:root {
  --main-bg-color: #000000;
  --main-text-color: #ffffff;
  --accent-color: #F00081;
  color-scheme: white !important;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background: none !important;
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100%;
}